<header class="header">
  <p class="site-title-sub">portfolio</p>
  <h1 class="site-title">My Name Is Mizuki Kobayashi</h1>
  <p class="site-description">Check out some of my Portfolios.</p>
  <div class="buttons">
    <a class="button" href="#about">LEARN MORE</a>
    <a class="button button-showy" href="#contact">SEND MESSAGE</a>
  </div>
</header>
<section class="about" id="about">
  <h2 class="heading">ABOUT ME</h2>
  <p class="about-text">
    はじめまして。日本でエンジニアを目指しています。<br>
    工業高校を卒業し、約4年間、樹脂成形品製作会社で業務を経て
  現在はプログラミングの勉強しながら就職活動しています。
  
  </p>
  <p class="about-text">
    このサイトは自分の勉強してきた言語を使って作った、ポートフォリオサイトです。
  </p>
  <%= link_to "https://twitter.com/devil35513307", class:"social-icon" do %>
    <i class="twitter fab fa-twitter-square"></i>
  <% end %>
  <%= link_to "https://github.com/MISIAN-MISIAN", class:"social-icon" do %>
    <i class="github fab fa-github-square"></i>
  <% end %>  
</section>
<section class="works">
  <h2 class="heading">PORTFOLIOS</h2>
  <div class="works-wrapper">
    <ul class="portfolios-box">
      <li class="portfolio">
        <a href="http://18.177.66.99/" class="portfolio-image">
          <img src="<%= asset_path "freemarket.png" %>" alt="制作事例１" width=500px height=280px >
        </a>
      </li>
      <li class="portfolio">
        <a href="http://18.177.255.188/" class="portfolio-image">
          <img src="<%= asset_path "shooting.png" %>" alt="制作事例2" width=500px height=280px >
        </a>
      </li>
      <li class="portfolio">
        <a href="https://mighty-fortress-25311.herokuapp.com/" class="portfolio-image">
          <img src="<%= asset_path "homepage.jpg" %>" alt="制作事例3" width=500px height=280px >
        </a>
      </li>
    </ul>
    <%# <div class="work-box tree">
      <img class="work-image" src="/images/tree.jpg" alt="制作事例１">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div>
    <div class="work-box building">
      <img class="work-image" src="/images/building.jpg" alt="制作事例2">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div>
    <div class="work-box lake">
      <img class="work-image" src="/images/lake.jpg" alt="制作事例3">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div>
    <div class="work-box sky">
      <img class="work-image" src="/images/sky.jpg" alt="制作事例4">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div> %>
  </div>
</section>
<section class="skills">
  <h2 class="heading">MY SKILLS</h2>
  <div class="skills-wrapper">
    <div class="skill-box">
      <i class="skill-icon fas fa-desktop"></i>
      <div class="skill-title">CODING</div>
      <i class="html fab fa-html5">
        <p>HTML</p>
      </i>     
      <i class="css fab fa-css3-alt">
        <p>CSS</p>
      </i>
      <i class="sass fab fa-sass">
        <p>Sass</p>
      </i>
      <i class="javascript fab fa-js">
        <p>javascript</p>
      </i>
      <div class="ruby">
        <img src="https://img.icons8.com/office/40/000000/ruby-programming-language.png">
        <p>Ruby on Rails</p>
      </div>
      <%# <img class="ruby" src="https://img.icons8.com/office/40/000000/ruby-programming-language.png">
      <div class="ruby-text">ruby on rails</div> %>
       
    </div>
  </div>
</section>
<section class="contact" id="contact">
  <h2 class="heading">CONTACT</h2>
  <div class="contact-content">

    <%= link_to "https://twitter.com/messages/compose?recipient_id=@devil35513307&ref_src=twsrc%5Etfw" do %>
      <i class="twitter-contact fab fa-twitter"></i>
        <h3 class="or"> or </h3>
    <% end %>
    <%= link_to new_contact_path do %>
      <p class="contact-title-sub"> Mail </p>
    <% end %>
    <%= link_to "https://line.me/R/ti/p/%40bue0968q" do %>
      <div class="line-content"></div>
      <i class="line fab fa-line"></i>
        <h3 class="or1"> or </h3>
    <% end %>

  </div>
</section>
<footer class="footer">
</footer>
<%# <script src="lib/placeholders.min.js"></script> %>
