<header class="header">
  <p class="site-title-sub">portfolio</p>
  <h1 class="site-title">My Name Is Mizuki Kobayashi</h1>
  <p class="site-description">Check out some of my Portfolios.</p>
  <div class="buttons">
    <a class="button" href="#about">LEARN MORE</a>
    <a class="button button-showy" href="#contact">SEND MESSAGE</a>
  </div>
</header>
<section class="about" id="about">
  <h2 class="heading">ABOUT ME</h2>
  <p class="about-text">
    初めまして、小林瑞生と申します。<br>
    工業高校を卒業し、約4年間、樹脂成形品製作会社で業務を経て
    現在は離職し就職活動しています。<br>
    離職中に独学で勉強し簡単なサイトを構築しました。
    
  
  </p>
  <p class="about-text">
    このサイトは自分の勉強してきた言語を使って作った、ポートフォリオサイトです。
  </p>
  <%= link_to "https://twitter.com/devil35513307", class:"social-icon" do %>
    <i class="twitter fab fa-twitter-square"></i>
  <% end %>
  <%= link_to "https://github.com/MISIAN-MISIAN", class:"social-icon" do %>
    <i class="github fab fa-github-square"></i>
  <% end %>  
</section>
<section class="works">
  <h2 class="heading">PORTFOLIOS</h2>
  <div class="works-wrapper">
    <ul class="portfolios-box">
      <li class="portfolio">
        <a href="http://18.177.66.99/" class="portfolio-image">
          <img src="<%= asset_path "freemarket.png" %>" alt="制作事例１" >
        </a>
      </li>
      <li class="portfolio">
        <a href="http://18.177.255.188/" class="portfolio-image">
          <img src="<%= asset_path "shooting.png" %>" alt="制作事例2" >
        </a>
      </li>
      <li class="portfolio">
        <a href="https://mighty-fortress-25311.herokuapp.com/" class="portfolio-image">
          <img src="<%= asset_path "homepage.jpg" %>" alt="制作事例3" >
        </a>
      </li>
      <li class="portfolio">
        <a href="#" class="portfolio-image">
          <img src="<%= asset_path "food_share.png" %>" alt="制作事例4" >
        </a>
      </li>
    </ul>
    <div class="section s_08">

      <div class="accordion_area">

        <div class="accordion_one _flex">
          <div class="accordion_header">制作物１ 詳細<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="accordion_one">
              <div class="accordion_header_one">
              <p>
                某サイトのクローンサイトのfreemarketサイトを作りました。全ては真似できていませんが、ある程度の機能まで実装しています。
                出品もでき、pay.jpを使い購入もできるようにしています。google.facebookでの会員登録もできるようにしています。
                クローンサイトということもあり、サイトに制限をかけています。内容確認いただける方は、basic認証のpassを共有いたしますので、
                contactフォームよりご連絡頂ますよう、お願いいたします。
              </p>
              </div>
              
            </div>
          </div>
        </div>

        <div class="accordion_one _flex">
          <div class="accordion_header">制作物２ 詳細<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="accordion_one">
              <div class="accordion_header_one">
              <p>
                タイトルとお気に入りの写真を投稿できるサイトを作りました。
                新規登録さえしていただければ、誰でも写真を投稿できます。
                写真に対してコメントできる機能を実装しています。
                コメント部分に関しては、非同期通信で対応しているので、写真の感想や撮影場所を聞くなど
                スムーズにメッセージのやりとりができると思います。
                AWSでデプロイしています。
              </p>
              </div>
              
            </div>
          </div>
        </div>

        <div class="accordion_one _flex">
          <div class="accordion_header">制作物３ 詳細<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="accordion_one">
              <div class="accordion_header_one">
              <p>
              今現在閲覧いただいてるサイトになります。
              自分の簡単なホームページになります。
              初めてherokuを使ってデプロイしました。
              375px(iPhone X XR etc)にてブレイクポイントを設けていますので、
              スマホ縦で使用いただいてもうまく表示されると思います。
              それ以外のサイズは対応してないので、pcで観ていただくことをオススメします。
              案件などあれば
              contactフォームから連絡していただければ幸いです。
              </p>
              </div>
              
            </div>
          </div>
        </div>

        
        <div class="accordion_one _flex">
          <div class="accordion_header">制作物４ 詳細<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="accordion_one">
              <div class="accordion_header_one">
              <p>
              毎日の食事の写真を載せられるサイトです。
              朝食、昼食、夕飯、お菓子、お気に入りのレストランを投稿できます。
              お気に入りのレストランを投稿した際、住所入力すると、selfで緯度経度所得して
              詳細ページにてgoogle mapに表示されます。

              トップページはmasonryプラグインを使用してグリッド表示されるようになっています。

              APIの導入と管理者のみ権限を与えるのを目標として勉強のために製作しました。

              費用の関係で現在はデプロイ行なっていません。
              </p>
              </div>
              
            </div>
          </div>
        </div>

      </div>

    </div>

    <%# <div class="work-box tree">
      <img class="work-image" src="/images/tree.jpg" alt="制作事例１">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div>
    <div class="work-box building">
      <img class="work-image" src="/images/building.jpg" alt="制作事例2">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div>
    <div class="work-box lake">
      <img class="work-image" src="/images/lake.jpg" alt="制作事例3">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div>
    <div class="work-box sky">
      <img class="work-image" src="/images/sky.jpg" alt="制作事例4">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            写真投稿サイトを作りました。<br>
            login,logout,投稿,削除,編集,コメント,検索の機能をつけました。<br>
            使用言語： HTML, CSS, Haml, Sass, Ruby on Rails, MySQL<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>  
      </div> 
    </div> %>
  </div>
</section>
<section class="skills">
  <h2 class="heading">MY SKILLS</h2>
  <div class="skills-wrapper">
    <div class="skill-box">
      <i class="skill-icon fas fa-desktop"></i>
      <div class="skill-title">CODING</div>
      <i class="html fab fa-html5">
        <p>HTML</p>
      </i>     
      <i class="css fab fa-css3-alt">
        <p>CSS</p>
      </i>
      <i class="sass fab fa-sass">
        <p>Sass</p>
      </i>
      <i class="javascript fab fa-js">
        <p>javascript</p>
      </i>
      <div class="ruby">
        <img src="https://img.icons8.com/office/40/000000/ruby-programming-language.png">
        <p>Ruby on Rails</p>
      </div>
      <%# <img class="ruby" src="https://img.icons8.com/office/40/000000/ruby-programming-language.png">
      <div class="ruby-text">ruby on rails</div> %>
       
    </div>
  </div>
</section>
<section class="contact" id="contact">
  <h2 class="heading">CONTACT</h2>
  <div class="contact-content">

    <%= link_to "https://twitter.com/messages/compose?recipient_id=@devil35513307&ref_src=twsrc%5Etfw" do %>
      <i class="twitter-contact fab fa-twitter"></i>
        <h3 class="or"> or </h3>
    <% end %>
    <%= link_to new_contact_path do %>
      <%# <p class="contact-title-sub"> Mail </p> %>
    <% end %>
    <%= link_to "https://line.me/R/ti/p/%40bue0968q" do %>
      <div class="line-content"></div>
      <i class="line fab fa-line"></i>
        <%# <h3 class="or1"> or </h3> %>
    <% end %>

  </div>
</section>
<footer class="footer">
</footer>
<%# <script src="lib/placeholders.min.js"></script> %>
